* {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

/* https://css-tricks.com/box-sizing/ */
/* sane defaults across browsers */
/* html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
} */

.search-filter-bar,
.picked-names-display ul {
  display: inline-flex;
  gap: 15px;
}

input {
  border: black 3px solid;
  border-radius: 10px;
}

.girl {
  background: lightblue;
  color: darkslategrey;
}

.boy {
  background: lightsalmon;
  color: darkred;
}

.baby-button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: solid transparent 2px;
}

.selected {
  border: solid black 2px;
}

ul {
  display: inline-flex;
  gap: 1px;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
}
