* {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.search-filter-bar, .picked-names-display ul {
display: inline-flex;
gap: 15px;
}

input {
  border: black 3px solid;
  border-radius: 10px;
}

.girl {
  background: lightblue;
  color: darkslategrey
}

.boy {
  background: lightsalmon;
  color: darkred;
}

.baby-button {
  border: 2px solid grey;
  border-radius: 10px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
}
